
body {
    color: #070707;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
  }


.container {
  max-width: 947px;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-family: $fontFamily;
  font-size: 34px;
  text-align: center;
}

/* Header */

.nav {
    &__list {
  @extend %flexible;
  margin: 33px 0 0 0;
  padding: 0 0 31px 0;
  border-bottom: 1px solid #828282;
}

    &__item {
  list-style: none;
}

    &__link {
  text-decoration: none;
  font-family: $fontFamily;
  color: #828282;
  transition: all 0.2s linear;
}

    &__link:hover {
  color: #070707;
}
}

/* Home */

.home {
  margin-bottom: 100px;

&__description {
  @extend %flexible;
  margin: 39px 0 49px 0;
}

&__title {
  font-family: $fontFamily;
  font-size: 47px;
  line-height: 59px;
  color: #070707;
}

&__nav {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

&__link {
  text-decoration: none;
  font-family: $fontFamily;
  font-size: 16px;
  color: #828282;
}

&__link--active {
  color: #070707;
}

&__link:first-child::after {
  content: '';
  display: inline-block;
  background-color: #070707;
  width: 13px;
  height: 2px;
  margin-top: 5px;
}

&__image {
  width: 100%;
  object-fit: cover;
}
}

/* About */
.about {
  padding: 118px 0 108px 0;
  background-color: #F6F6F6;

&__title {
  margin-bottom: 30px;
}

&__text {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 45px;
}

&__text--first {
  margin-bottom: 0;
}

&__text--second {
  max-width: 100%;
}
}

/* Skills */
.skills {
&__title {
  margin: 91px 0 69px 0;
}

&__text {
  text-align: center;
  margin-bottom: 83px;
}

&__cards {
  display: flex;
  justify-content: space-between;
}
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 110px;

&__img {
  width: 100%;
  object-fit: contain;
  height: 88px;
  margin-bottom: 27px;
}

&__title {
  font-family: $fontFamily;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
  margin-bottom: 40px;
}
}

.figma {
    margin-top: 18px;
}

/* Portfolio */

.portfolio {
  background-color: #F6F6F6;
  padding: 112px 0 106px 0;

&__title {
  margin-bottom: 47px;
}

&__image {
  width: 100%;
  object-fit: cover;
  margin-bottom: 44px;
}

&__link {
  display: block;
  text-align: center;
  text-decoration: underline;
  color: #070707;
  margin-bottom: 99px;
}

&__link:last-child {
  margin-bottom: 0;
}

&__link:hover {
  transform: scale(1.1);
}

&__image:hover {
  transform: scale(1.1);
}
}

/* Contact */

.contact {
  padding: 112px 0 106px 0;

&__title {
  margin: 114.24px 0 20.03px 0;
}

&__text {
  text-align: center;
  font-family: 'Gilroy-Medium';
  font-size: 18px;
  max-width: 400px;
  margin: 0 auto;
}

&__button {
  display: block;
  margin: 0 auto;
  margin-top: 37.94px;
  width: 180.5px;
  height: 42px;
  color: #FFFFFF;
  background-color: #070707;
  border-radius: 20px;
  border: none;
  font-family: $fontFamily;
  font-size: 18px;
  text-align: center;
  line-height: 22px;
}

&__icons {
  display: flex;
  justify-content: center;
}

&__icon {
  display: flex;
  justify-content: space-between;
  margin-top: 85.78px;
  width: 342.18px;
  height: 40.92px;
}

&__icon img {
  width: 40.17px;
  object-fit: contain;
  height: 40.06px;
}
}

.icons__text {
  font-family: 'Gilroy-Medium';
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  max-width: 243.01px;
  margin: 0 auto;
  margin-top: 45.06px;
}